@import "tailwindcss";

html, body, #root {
  min-height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img, button, input, textarea, select {
  max-width: 100%;
}
